:root {
    --cardBackground: white;
    --errorColor: #f15;
}

body {
    font-family: sans-serif;
    padding: 2em;
}

.error {
    color: var(--errorColor);
}

.calendarList {
    display: flex;
    flex-flow: column wrap;
    max-height: 40em;
}

.calendarButton {
    border-radius: 2em;
    cursor: pointer;
}

.calendarCard {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    padding: 0.5em;
    background-color: var(--cardBackground);
    border-radius: 2em;
    margin: 0.5em;
    box-shadow: 0px 2px 10px 0px #CCC;
    
    transition-duration: 1s;
}

.calendarButton:hover {
    z-index: 10;
}

.calendarButton:hover .calendarCard {
    transition-duration: 0s;
    transform: scale(110%) rotateZ(1deg);
    
    color: var(--calendarForeground);
    background-color: var(--calendarBackground);
}

.calendarButton .coloredDot {
    background-color: var(--calendarBackground);
    height: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 0.5em;
    border: 0.1em solid var(--cardBackground);
    box-shadow: 0 0 0.5em 0 var(--cardBackground);
}

.calendarButton .summary {
    margin-right: 0.5em;
}

#successfulEventsList,
#failedEventsList {
    padding-left: 0;
    
    display: flex;
    flex-flow: column nowrap;
}

.addedEvent {
    position: relative;

    padding: 0 1em 0 2.75em;
    background-color: var(--cardBackground);
    border-radius: 2em;
    margin: 0.5em;
    box-shadow: 0px 2px 10px 0px #CCC;
}

.addedEvent summary {
    padding-bottom: 1.5em;
}

.addedEvent summary > div {
    display: inline-block;
}

.addedEvent summary h4 {
    margin-bottom: 0.5em;
}


.addedEvent summary::-webkit-details-marker,
.addedEvent summary::marker {
    display: "none";
    content: "";
}

.hasDetails summary {
    cursor: pointer;
}

.hasDetails summary:before {
    content: "▶";
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    margin: 1em;
}

.hasDetails[open] summary:before {
    content: "▼";
}


.eventTimes .start:after {
    content: "–";
    margin-inline: 0.25em;
}

.eventDetails {
    margin-top: -0.5em;
}

.eventDetails .location:before {
    content: "Location: ";
    color: #777;
    font-style: italic;
}

.eventDetails .description {
    margin-bottom: 1.5em;
}
